@charset "utf-8";
/* CSS Document */

body {
    padding: 0;
    margin: 0;
    background: url("../images/bg/metal.jpg");
}

  #container {
      width: 966px;
      margin: 20px auto;
  }

  #content {
      width: 966px;
      margin: 20px auto;
  }

    #header {
        text-align: center;
        padding: 0;
    }

      #logo {
          opacity: 1.0;
      }

    #navigation {
        width: 966px;
        margin: 0 auto;
    }

      #navigation a {
          background: #111;
          opacity: 0.75;
          float: left;
          max-width: 138px;
          height: 80px;
          text-align: left;
          border-left; 1px solid #000;
          display: block;
          text-decoration: none;
          padding: 12px;
        }

      #navigation a:hover, #navigation a.active:hover {
          opacity: 0.92;
      }

      #navigation a.active {
          color: #018AA1;
          opacity: 0.85;
      }
 
        #navigation a .link-title {
            color: white;
            font-size: 28px;
            padding: 0 0 2px 0;
            font-family: 'Telex', sans-serif;
        }

        #navigation a .link-summary {
            color: #999;
            font-size: 14px;
            font-style: italic;
            padding: 0 0 2px 0;
            font-family: 'Telex', sans-serif;
        }

        #navigation a:hover .link-summary, #navigation a.active .link-summary {
            color: #00B1CE;
            font-size: 14px;
            font-style: italic;
            padding: 0 0 2px 0;
            font-family: 'Telex', sans-serif;
        }


.clear {
    clear: both;
}
